<!doctype html>
<html lang="{{ .Language }}">
<head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="UTF-8">
    {{ if not .Site.IsServer }}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ .Site.Params.googleTagManagerId }}');</script>
    <!-- End Google Tag Manager -->
    {{ end }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{ $title := .Site.Title | default "V.E.V." }}
    <title>{{ $title }}</title>

    {{ $options := (dict "targetPath" "css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}">
</head>
<body class="home">
{{ if not .Site.IsServer }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Params.googleTagManagerId }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{{ end }}
<header>
    <a href="https://vev.su/" class="logo-link"><span>V</span><span>E</span><span>V</span></a>
    <h1>{{ .Site.Title }}</h1>
</header>
<main>
{{ range .Pages }}
    <article class="blog-card">
        <a href="{{ .Permalink }}" class="page-link">
            <img src="{{ printf "%slogo.png" .Permalink }}" alt="{{ .Title }}" class="page-logo">
        </a>
    </article>
{{ end }}
</main>
<footer>
    <p>&copy; VEV {{ now.Year }}</p>
</footer>
</body>
</html>
